.menúcabecera{
    color de fondo: #a4cdd7; 
    ancho: 100% ; 
} 
*{
     margen: 0;
     relleno: 0;
 } 
    .bandera{ 
        color fondo: #1d70b8; 
        ancho: 100%; 
        altura: 350píxeles;
        imagen de fondo: dirección URL("../imagenes/descarga.jpeg");
        ancho: 100%
        altura: 350píxeles;
        repetición de fondo:sin repetición;
        tamaño de fondo:cubrir;
        posición de fondo y:50%;
        }
        .cajascolumnas{
            mostrar:doblar;
            justificar-contenido:espacio alrededor;
            alinear elementos:centro;
            brecha:10píxeles; 
        } 
        .columna{
            doblar: 1;
            color de fondo: RGB(0, 162, 255);
            border: 1píxeles;
            
        } 
        .color verde{
            color de fondo:verde;
        }
        .color naranja{
            color de fondo:naranja;
        } 
        .color turquesa{
        color de fonde: turquesa;
        } 
        .aleatorio{
        color de fondo:agua;
        ancho: 100%;
        altura: 120píxeles;
        }
         .menú superior yo {
        mostrar:en línea;
        relleno:2píxeles;
        frontera derecha:sólido2píxelesnegro;
        }
        .menú superior yo {
        transformación de texto:mayúscula;
        peso de la fuente:atrevido;
        alinear texto:bien;
        relleno: 15píxeles;
        }
        .menú superior a:flotar{
            color:#e2430c;
            decoración de texto:subrayar;
        }
        .yo a{
            decoracion de texto:ninguno;
        }
        .menú superior :ultimop hijo{
            frontera derecha:ninguno;
        }
        .menú superior{
            relleno:20píxeles;
        }
        .cajascolumnas imagen{
            ancho: 100%;
            altura:200píxeles;
        }
        .formulario{
            ancho: 80%;
            margen: auto;
        }
        .forma{ 
            relleno:15píxeles
        }
        entrada{
            ancho: 100%
            relleno: 5píxeles;
            radio del borde: 5píxeles
        }
        área de texto{
            ancho: 100%
        }

        



